/* Style.ccs */
/*
*{
border: 1px solid red;
}
*/

body {
  background-color: #fff;
  height: 100px;
  margin:0px;
  padding:0px;
  background-image:url('../img/rain4.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  attachment: fixed
  /* width: 100%;*/
}

h1 {
  ffont-family: sans-serif;
  font-size: 20px;
  width: 25%;
  text-align: center;
  color: #BDBDBD;
  /*debugging purposes
  border: 1px solid black;*/
}

h2 {
  font-family: sans-serif;;
  font-size: 25px;
  text-align: center;
  color: #A4A4A4;
  padding: 10px;
  margin: 110px;
  margin-left: 20px;
  width: 95%;
  /*debugging purposes
  border: 1px solid black;*/
}

h3 {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
  margin: -100px;
  margin-left: 0px;
  width: 100%;
  color: #A4A4A4;
}

h5 {
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
  margin: -100px;
  margin-left: 0px;
  width: 100%;
  color: #A4A4A4;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  width: 25%;
  text-align: center;
  color: #D8D8D8;
  /*debugging purposes
  border: 1px solid black;*/
}

h4 {
  font-family: sans-serif;
  font-size: 70px;
  text-align: center;
  color: #585858;
  padding: 0px;
  margin: 20px;
  /*debugging purposes
  border: 1px solid black;*/
}
/* Divicions */

#header {
  text-align:center;
  padding:0px;
  color: #fff;
  /*debugging purposes
  border: 1px solid red;*/
}

#nav {
  text-align: center;
  font-family: sans-serif;;
  font-size: 14px;
  text-align: center;
  color: #000;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
    background-color: #F5ECCE;
    opacity:0.5;
    /*debugging purposes
    border: 1px solid red;*/
}

#nav li {
    float: left;
    font-size: 20px;
    color: #fff;
}

#nav li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 3px 40px;


}

#nav li a.active {
    color: grey;
}

#nav li a:hover {
    color: grey;
}

#sector1 {
  margin-top: -100px;
  /*debugging purposes
  border: 1px solid yellow;*/
}
/*
#inter{
  background-color: #F5ECCE;
  opacity:0.5;
  font-family: sans-serif;
  color: #000;
  margin-top: 150px;
  margin-left: 550px;

  width: 300px;
  height: 250px;
  /*debugging purposes
  border:solid 1px blue;
}
*/

#new{
  color: #000;
  margin-top: 150px;
  color: #000;
  font-family: sans-serif;
  opacity:0.5;
}
#hook{
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
  color: #000;

}

#link{
  margin: 105px;
  color: #fff;
  margin-right: 120px;
  margin-top: 150px;
  /*debugging purposes
  padding: 0;
  border: 1px solid purple;*/
}

#footer{
  font-family: sans-serif;
  color: #fff;
  height:auto;
  clear:both;
  text-align:center;
  margin:100px;
  padding:5px;
}
