/* Style.ccs */


body {
  background-color: #fff;
  height: 100px;
  background-image:url('../img/rain4.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  attachment: fixed
  /* width: 100%;*/
}

h1 {
  font-family: sans-serif;
  font-size: 70px;
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 20px;
  /*debugging purposes
  border: 1px solid black;*/
}

h2 {
  font-family: sans-serif;;
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin: 110px;
  /*debugging purposes
  border: 1px solid black;*/
}

h3 {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
  margin: -100px;
  color: #fff;
}
/*
p {
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  color: #000;
  padding: 10px;
  margin: 110px;
  /*debugging purposes
  border: 1px solid black;
}

/* Divicions */

#header {
  text-align:center;
  padding:0px;
  color: #fff;
  /*debugging purposes
  border: 1px solid red;*/
}

#nav {
  text-align: center;
  font-family: sans-serif;;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
    background-color: #F5ECCE;
    opacity:0.5;
    /*debugging purposes
    border: 1px solid red;*/
}

#nav li {
    float: left;
    font-size: 20px;
    color: #fff;
}

#nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 3px 40px;
    text-decoration: none;
    opacity:0.6;

}

#nav li a.active {
    color: grey;
}

#nav li a:hover {
    color: grey;
}

#sector1 {
  margin-top: -100px;
  /*debugging purposes
  border: 1px solid yellow;*/
}

#inter{
  position:absolute;
  font-family: sans-serif;
  color: #fff;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -100px;
  margin-left: -90px;

  /*debugging purposes
  border:solid 1px blue;*/
}

#hook{
  text-align: center;
  margin-top: 500px;
  font-family: sans-serif;
  color: #fff;

}

#link{
  margin: 105px;
  color: #fff;
  /*debugging purposes
  padding: 0;
  border: 1px solid purple;*/
}

#footer{
  color: #fff;
  height:auto;
  clear:both;
  text-align:center;
  margin:100px;
  padding:5px;
}
